<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
        <h1 id="player" class="player">Waiting</h1>
        <% if(size == 3) { %>
            <h2 class="player">(where you have to place 3 consecutive to win)</h2>
        <% } %> 
        <% if(size == 5 || size == 7) { %>
            <h2 class="player">(where you have to place 4 consecutive to win)</h2>
        <% } %>   
        <div class="board size<%= size %>" id="board">
            <% for(let i=0; i<(size*size);i++) { %>
                <div class="cell" check></div>
        <% } %>

        </div>
        <div class="home">
        <a class="btn-home" href="/">Back</a>
         </div>
        <div class="winning-message" id="winningMessage">
            <div data-winning-message-text></div>
            <button id="restartButton">Start Game</button>
            <a href="/">Home</a>
        </div>

    <script src="/js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>